<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="card">
    <div class="card-header ">
      <div class="clearfix">
        <!-- <p class="para2"> Ultrateh Cement</p> -->
        <h2 class="para3">Mahanagar Gas Limited</h2>

        <img id="img2" style="float:right" src="/assets/Logo Ver 2.png">
      </div>
    </div>
  </div>
  <div class="bodycard">
    <mat-card class="headcard">

      <mat-card-content>
        <img id="img1" style="float:left" src="/assets/companylogo/mgl-01.png">
        <div>
          <span><mat-card-subtitle> By: Shashi Shekhar  <span>22 Feb 2021</span></mat-card-subtitle></span>
          <span><mat-card-subtitle>  </mat-card-subtitle></span>
          
        </div>
        <p id="para2" class="text-justify">
          Mahanagar Gas Limited (MGL) is promoted by GAIL (India) Limited and incorporated in 1995. It is one
          of the leading Natural Gas Distribution Companies in India and provides CNG and PNG services.
        </p>
        <p id="para2" class="text-justify">
          It has
          exclusive rights to distribute PNG (Pipeline Natural Gas) to retail customers homes in Mumbai, Thane
          and Raigad districts with total population of 20 million and 3 million households of which 1.56 million
          households having pipeline gas connections.
        </p>

        <h2>Gas Sector in India</h2>
        <p id="para2" class="text-justify">
          Natural is recognized as the cleanest fossil fuel and is in high demand in highly populated and sophisticated
          nations.
        </p>
        <p id="para2" class="text-justify">
          As per a study by Union Of Concerned Scientist (www.ucsusa.org), Co2 emission during natural gas combustion
          in a power plant is 60% less as compared to coal or natural oil global warming gases and 15 to 20 percent less
          heat-trapping gases than gasoline when burned in today’s typical vehicle
          India is 3rd largest energy consumer with Natural gas as mere 6% (80-90 MMSCMD) of its energy consumption
          portfolio.
          And target is to increase the share of natural gas from 6% to 15% in the total energy mix by 2030. To achieve
          this, the
          country needs to increase the current 166 MMSCMD5 per day in gas consumption to 600 MMSCMD by 2030.

        </p>
        <P id="para2" class="text-justify">
         This means that Mahanagar Gas is future protected and it has very good growth prospects. 
         Demand is available and is higher than supply and therefore company will continue to grow and provide a healthy CAGR 
            

        </P>

        <div class="container">

          <div class="row row-cols-1 row-cols-sm-2">
            <div class="col"><img class="border border-dark" id="Iml_md_body" src="/assets/media/mgl_1yr.png">
              <p class="mat-small">Mahanagar GAS - 1 year performance at NSE </p>
            </div>
            <div class="col"> <img class="border border-dark" id="Imr_md_body" src="/assets/media/mgl_5yr.png">
              <p class="mat-small">Mahanagar GAS - 5 year performance at NSE </p>
            </div>

          </div>
        </div>

        <h2>Insights</h2>
        <p id="para2" class="text-justify">With 256 CNG stations, 1511 dispensing points and 1.26 million PNG
          connections through its 5630KM of PNG network, MGL supplies 2.95 MMSCMD of gas through its network. of which 2.14 is
          supplied asCNG and remaining 0.81 MMSCMD as PNG. </p>
        <p id="para2" class="text-justify"> Gas Distribution is set to grow with reduced capex by the company as most of
          the pipeline setup is already done and only last mile connectivity to localities remains to be achieved on a
          broader basis.as compared to India’s preferred cooking fuel, PNG is cheaper and will be an automatic financially efficient
          decision by majority of population. We have observed same pattern by IGL in NCR region were preference in PNG, if
          available.. </p>
          
        <p id="para2" class="text-justify">   </p>


        <h2> Financials and Shareholding pattern</h2>
        <p class="para1"> Govt of India Backed GAIL is the promotor of MGL owning about 32% stake and additional 10% to a foreign entity.
        </p>
        <p class="para1"> Insurance and domestic Mutual fund houses have another 12% stake. 
        </p>
        <p class="para1"> Retail investors including HNI has 20.79% , making minority shareholders, an significant force if the retail investor demonstrate unity . 
        </p>
        <p class="para1">The shareholding pattern reflects a classic large and fundamentally strong
          company with backing from government,foreign funds, large financial institutions, indicating stabality, consistency and stability in the stock.  
        </p>

          <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h3 class="card-title">Mahanagar Gas - Shareholding Patteren (%)</h3>
                <div style="display: block;">
                  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                  </canvas>

                </div>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h3 class="card-title">Mahanagar Gas  - Earnings per Share(INR)</h3>
                <div style="display: block;">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                </div>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </div>
        </div>

        <p class="para1">IN FY21-Q3 MGL reported negative growth of 9.2% YoY on gas volume .Now its easy to blame to COVID for everything, however 
          in MGL case mass migration from mumbai and reduction in transportation during lockdown can be logical explanation of reduction in gas 
          consumption.  
          Transportation related CNG volume also reduced by 15.3% YoY to 1.9 mmscmd, however the PNG volumes increased by 7.2% 
          YoY to 0.9 mmscmd driven by robust domestic PNG demand.
                  </p>
        <p class="para1">CNG demand is expected to improve drastically from Q4-FY21 and hence we expect the volumes to stabalize up 10% YoY in in-flight Q4-FY21 . IN FY21-Q3 MGL reported negative growth of 9.2% YoY on gas volume .Now its easy to blame to COVID for everything, however 
          
                  </p>
        <p class="para1">
          Reasonable P/E,stable  management and very promising future  gurantees safty of your investment in the stock and company.
        </p>

        <h2>Recommendations: </h2>
        <p class="para1">
          PSM sees 15-20% appreciation in the Stock Prices in next 1 year </p>
        <p class="para1">Profit Stock market recommends good performance by company in next 8-12 months </p>

        
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>


</body>

</html>