.example-card {
    max-width: 90%;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
#headpic{
margin-top: 1px;
max-height: 30%;
width:100%;
vertical-align: middle  ;

}

.bodycard{
max-width: 100%;
margin: 1%; 
text-align: left;
vertical-align: middle;
}

.para1{
font-size: 18px;
}

#Iml_md_body{
max-width: 100%;
}

#Imr_md_body{
  max-width: 100%;
}

.para2 {
  display: inline-block;
  margin-right: 10px;
  margin-left: auto;
  text-justify: newspaper;
  display: inline;
    
}
#para2{
  font-size: 18px;

}

.para3 {
  display: inline-block;
  margin-right: 10px;
  text-justify: newspaper;
  display: inline;
  font-size: 17px;
}
#img2 {
  height: 39px;
  width: auto;
  align-items: flex-end;
  margin-right: 20px;

}

#img1 {
  height: 100px;
  width: auto;
  vertical-align: middle;
  border: black;
  border-width: 2px;
  margin: 5px;
}

.header{
font-size: 12px;

}