<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <img id="headpic" src="/assets/SA_1.jpg ">

    <div class="bodycard">
      <mat-card class="headcard">

        <mat-card-title>
          <h1>Ultratech Cement </h1>
        </mat-card-title>

        <mat-card-content>
          <p class="para1">
            UltraTech Cement Ltd is the largest manufacturer of grey cement, ready mix concrete (RMC) and white
            cement in India. It is also one of the leading cement producers globally, and the only cement company
            globally (outside of China) to have more than 100 million tonne capacity in one country
          </p>
          <p class="para1">
            Company has commissioned integrated unit in Dhar (3.5 MTPA), acquired cement business of Binani Cement
            (6.25 MTPA) cement and completed merger of cement business of Century Textiles & Industries Ltd with
            UltraTech
            Cement, taking the overall annual cement capacity to 116.75 MT.
          </p>
          <p class="para1">
            Now company plans to add another 20MT capacity in India to cater to peak demands in east and central
            markets,
            incurring 2500 crores of Capex every year but keeping the debt free target by 2023
          </p>



          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2">
              <div class="col"><img class="border border-dark" id="Iml_md_body" src="/assets/media/ultratech_1yr.PNG">
                <p class="text-primary">Ultratech Cement - 1 year performance at NSE </p>
              </div>
              <div class="col"> <img class="border border-dark" id="Imr_md_body" src="/assets/media/ultratech_5yr.PNG">
                <p class="text-primary">Ultratech Cement - 5 year performance at NSE </p>
              </div>

            </div>
          </div>


          <h2>Insights</h2>
          <p class="para1">Capex plans and debt reduction shows companies confidence in demand, macroeconomic outlook,
            and its capability to remain a market leader in the business.</p>
          <p class="para1"> Globally Debt/EBITDA ratio of world largest cement
            companies are ranging between 2x to 4x and commitment to keep it below 1x definitely is a big positive in
            companies
            financial health this factor alone will enable analyst and FII interested . </p>


          <h2>Shareholding pattern</h2>
          <p class="para1">Promoter and Promotor group has 59.91% shares with no share as pledged.
            Employee trusts have 0.70%. 25% is being held by domestic MF’s and Foreign Institutions and 9% approx.
            is with the Indian insurance companies, of which LIC has 4 %.
          </p>
          <p class="para1">The shareholding pattern reflects high a classic large and fundamentally strong
            company with complete thumbs up by key financial institutions
          </p>

          <!-- <div class="container">
      <div class="row row-cols-1">
        <div class="col"><img class="border border-dark" id ="Iml_md_body" src="/assets/media/CRR.JPG">
          <p class="text-primary">RBI Repo Rate</p> 
      </div>
      </div>
    </div> -->

          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h3 class="card-title">Ultratech Cement - Shareholding Patteren (%)</h3>
                  <div style="display: block;">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                      [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                    </canvas>
                  </div>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h3 class="card-title">Ultratech Cement - Earnings per Share(INR)</h3>
                  <div style="display: block;">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                  </div>
                  <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                </div>
              </div>
            </div>
          </div>

          <p class="para1">Earnings per share should increase with increased earnings, reduced debts,
            and operational efficiencies achieved.
          </p>
          <p class="para1">
            Reasonable P/E of 25x, commitment from management to reduce the debt to less than 1x of its NET Debt/EBITDA,
            CAPEX plans and positive demand of building materials sector in India are making Ultratech cement a
            fundamentally
            strong company to invest
          </p>

          <h2>Recommendations: </h2>
          <p class="para1">
            PSM sees 15-20% appreciation in the Stock Prices in next 1 year </p>
          <p class="para1">Profit Stock market recommends good performance by company in next 8-12 quarters </p>

          <p class="para1">Although entire PSM Index will be available for registered users,
            ProfitStockMartet.com will be releasing select stock list by 15th January 2021 for the next year
          </p>
          <div class="container">
            <div class="row row-cols-1">
              <div class="col"><img class="border border-dark" id="Iml_md_body" src="/assets/media/SR_2021.jpg">
                <p class="text-primary">Sector recommendation by PSM for 2021</p>

                <div class="card">

                  <p class="para1">At ProfitStockMarket.com, we play the simple game to trust in Governance, Earnings
                    and Consistency
                    (GEC) of a company. Our principle is to invest in business and not in a stock, therefore our focus
                    remains on GEC
                    dimensions of company. Together with the GEC dimension and global/local economic political and
                    social
                    environment we conclude on stocks which have a better performance potential. </p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  

</body>

</html>