
  <div class="container">
    <div class="card">
      <div class="card-header ">
        <div class="clearfix">
          <p class="para2">Register New user </p>
          <img id="img2" style="float:right" src="/assets/Logo Ver 2.png">
        </div>
      </div>
      <div class="card-body">
        <!-- <img id="img1" style="float:left" src="..."> -->
        <div class="col-md-6">
            <input type="text" style="margin: 5px;" class="form-control" placeholder="First name" aria-label="First name" 
            [(ngModel)] = "firstname" > 
          </div>
          <div class="col-md-6">
            <input type="text" style="margin: 5px;"  class="form-control" placeholder="Last name" aria-label="Last name" 
            [(ngModel)] = "lastname">
          </div>
          <div class="col-md-6">
            <input type="text" style="margin: 5px;"  class="form-control" placeholder="Email" aria-label="Email" 
            [(ngModel)] = "emailid">
          </div>

          <div class="col-md-6">
            <input type="text" style="margin: 5px;"  class="form-control" placeholder="Birthday" aria-label="Birthday"
            [(ngModel)] = "dob">
          </div>
          
          <div class="col-md-6">
            <input type="text" style="margin: 5px;"  class="form-control" placeholder="password" aria-label="password"
            [(ngModel)] = "password">
          </div>
          <div class="col-md-6">
            <input type="text" style="margin: 5px;"  class="form-control" placeholder="Address " aria-label="Address "
            [(ngModel)] = "field1">
          </div>
          <div class="col-md-6">
            <input type="text" style="margin: 5px;"  class="form-control" placeholder="City" aria-label="City"
            [(ngModel)] = "field2">
          </div>
          <div class="col-md-6">
            <input type="text" style="margin: 5px;"  class="form-control" placeholder="State" aria-label="State"
            [(ngModel)] = "field3">
          </div>
          <div class="col-md-6">
            <input type="text" style="margin: 5px;"  class="form-control" placeholder="Zip" aria-label="Zip"
            [(ngModel)] = "field4">
          </div>
          <div class="col-md-6">
            <input type="text" style="margin: 5px;"  class="form-control" placeholder="text" aria-label="text"
            [(ngModel)] = "field5">
          </div>
        
        
        
      </div>
    </div>
  </div>




