  <!-- COMMON HEADER COMPONENT - This contains the Navigation BAR which is taken from BOOTSTRAP component 
    to be compatible with MOBILE FIRST approach for the profitstockmarket.com 
  For Any changes (HTML or CSS/JS/TS) in the NAV BAR will be reflecting to entire website -->
  
  <!-- NavBar Start -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://profitstockmarket.com">ProfitStockMarket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Adding links in the NavBar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="Home()">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Portfolio()">Portfolio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Social()"> Social </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="analysis()"> Stock Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="profitquery()"> Profit-query(Beta)</a>
        </li>

      </ul>
      

      <form class="form-inline my-2 my-lg-0"> 
        <div id="login">
        <button class="btn btn-secondary " type="submit" (click)="open()" >Login</button>
      </div>
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </div>
  </nav>
  <!-- NavBar End  -->



  