<!-- Footer -->
<section id="footer" >
    <div class="container-fluid " style="max-width: 100%;">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Portfolio</a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Social</a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Stock Analysis</a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Login</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Feature </a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>videos</a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Latest News </a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Forum</a></li>
                    
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Terms</a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Privacy and cookie policy</a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Sitemap</a></li>
                    <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.profitstockmarket.com/"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.profitstockmarket.com/"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.profitstockmarket.com/"><i class="fa fa-instagram"></i></a></li>
                    <!-- <li class="list-inline-item"><a href="https://www.profitstockmarket.com/"><i class="fa fa-google-plus"></i></a></li> -->
                    <li class="list-inline-item"><a href="https://www.profitstockmarket.com/" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.profitstockmarket.com/"  >Profitstockmarket</a></u> is a trademark registered and owned by Shashi Raghuvansh Shekhar who is Director and Functional Architect of the website.</p>
                <p class="h6">© 2020 ProfitStockMarket.com. All right Reserved.
                    <hr>
                    <!-- <a class="text-green ml-2" href="https://www.profitstockmarket.com" target="_blank">ProfitStockMarket</a></p> -->
            </div>
            <hr>
        </div>	
    </div>
</section>
<!-- ./Footer -->
