<!-- Footer -->
<section id="footer">
    <div class="container-fluid " style="max-width: 100%;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.profitstockmarket.com/"><i
                                class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/profitstockmark" target="_blank"><i
                                class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.profitstockmarket.com/"><i
                                class="fa fa-instagram"></i></a></li>
                    
                    <li class="list-inline-item"><a href="https://www.profitstockmarket.com/" target="_blank"><i
                                class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            
        </div>
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            
    
            <div class="col-xs-12 col-sm-4 col-md-4">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Home</a>
                    </li>
                    <li><a href="https://www.profitstockmarket.com/"><i
                                class="fa fa-angle-double-right"></i>Portfolio</a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Social</a>
                    </li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Stock
                            Analysis</a></li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Login</a>
                    </li>
                </ul>
            </div>
 
            <div class="col-xs-12 col-sm-4 col-md-4">
                
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Terms</a>
                    </li>
                    <li><a href="https://www.profitstockmarket.com/"><i class="fa fa-angle-double-right"></i>Privacy and
                            cookie policy</a></li>

                </ul>
            </div>
        </div>
        
                <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="text-justify">© 2020 ProfitStockMarket.com. All right Reserved.
                    
                    <!-- <a class="text-green ml-2" href="https://www.profitstockmarket.com" target="_blank">ProfitStockMarket</a></p> -->
            </div>
        
        </div>
    </div>
</section>
<!-- ./Footer -->