<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <title>#ProfitStockMarket</title>
</head>

<body>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-4">#ProfitStockMarket</h1>
        <p class="lead"> Solid advise based on market research and Stock Analysis, exclusively to retail investors</p>
      </div>
      <div class="col-md-6">
        <img src="\assets\Logo Ver 2.png" class="img-fluid" alt="logo">

      </div>
    </div>

    <hr class="my-4">
    <div class="col-md-4">
      <p class="lead"> Join the movement and receive our newsletter and Stock Avice for Free </p>
      <!--  <a class="btn btn-primary btn-lg" href="#" role="button" (click)="alertmsg()">Learn more</a> -->
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>

<app-feature></app-feature>
  
<app-mo></app-mo>


 










 
</body>

</html>