<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>#ProfitStockMarket</title>
</head>

<body>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-4">#ProfitStockMarket</h1>
        <p class="lead"> Solid advise based on market research and Stock Analysis, exclusively to retail investors.</p>
      </div>
      <div class="col-md-6">
        <img src="\assets\Logo Ver 2.png" class="img-fluid" alt="logo">

      </div>
    </div>

    <hr class="my-4">
    <div class="col-md-4">
      <p class="lead"> Join the movement and receive our newsletter and Stock Avice for Free .</p>
      <!--  <a class="btn btn-primary btn-lg" href="#" role="button" (click)="alertmsg()">Learn more</a> -->
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>


  <div class="card text-center">
    <div class="card-header">
      Top 5 Stock recommendations at ProfitStockMarket
    </div>
    
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col">col</div>
          <div class="col">col</div>
          <div class="col">col</div>
          <div class="col">col</div>
          
          
        </div>
      </div>



      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

<!-- Second section - Top Recommendations  -->
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">TOP BUY Recommendation by ProfitStockMarket.com </h5>
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">HDFC Bank </div>
            <div class="card-body">
              <h5 class="card-title">Info card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Colgate Palmolive</div>
            <div class="card-body">
              <h5 class="card-title">Info card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Orient Electricals</div>
            <div class="card-body">
              <h5 class="card-title">Info card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Century textiles</div>
            <div class="card-body">
              <h5 class="card-title">Info card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Amber Industries</div>
            <div class="card-body">
              <h5 class="card-title">Info card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

        </div>


      </div>
      <a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click for More </a>
    </div>

  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Monthly Market outlook</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Market pulse</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">On Demand </h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>




  <!-- Site footer
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About ProfitStockmarket.com </h6>
          <p class="text-justify">ProfitStockMarket.com is an project to launch a website to help retail investors with ideas, 
            recommendation and Q&A regarding stocks and its fundamentals.
            Objective of the project is to Design, Develop and Host a B2C Website over server-less cloud(AWS) architecture 
            that can cater to following Business needs .
            Accept and display queries dynamically from customer on website
            Provide feature to Like/Share various segments on the website
            Upload their personal portfolio as an EXCEL upload
            Signup email to get regular company newsletter</div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">Stock Analysis</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">ProfitStockMarket.com</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer> -->





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>