

<app-mo5></app-mo5>



<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   </head>
  <body>
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-6">
        <mat-card class="example-card">
          <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>Market Outlook 2020</mat-card-title>
       <mat-card-subtitle>Part II - December</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="/assets/backgroung 2.png" >
     <mat-card-content>
                <button mat-raised-button>3 mins ago</button>
                <!-- <mat-divider></mat-divider> -->
             <p>
         The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
         A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
         bred for hunting.
         The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
         A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
         bred for hunting.
         
       </p>
     </mat-card-content>
     <mat-card-actions>
       <button mat-button>LIKE</button>
       <button mat-button>SHARE</button>
     </mat-card-actions>
   </mat-card>
  </div>
      <div class="col-lg-4 col-md-5 col-sm-6">
        <mat-card class="example-card">
          <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>Market Outlook 2020 </mat-card-title>
       <mat-card-subtitle>Part I - March</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image class="card-image" src="/assets/backgroung 2.png">
     <mat-card-content>
                <button mat-raised-button>3 mins ago</button>
                <!-- <mat-divider></mat-divider> -->
             <p>
              Invest slowly in current market and be cautious
              Markets will give many opportunity in next 3 months to BUY strong front-line stocks . Stay away from Mid caps and small caps for now
              Nifty can touch 7000-8500 range
       </p>
     </mat-card-content>
     <mat-card-actions>
       <button mat-button>LIKE</button>
       <button mat-button>SHARE</button>
     </mat-card-actions>
   </mat-card>




      </div>
      <div class="col-lg-4 col-md-5 col-sm-6">
        <mat-card class="example-card">
          <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>March 2020 Part II</mat-card-title>
       <mat-card-subtitle>Subtitle</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="/assets/media/pic1.jpg">
     <mat-card-content>
                <button mat-raised-button>3 mins ago</button>
                <!-- <mat-divider></mat-divider> -->
             <p>
         The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
         A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
         bred for hunting.
       </p>
     </mat-card-content>
     <mat-card-actions>
       <button mat-button>LIKE</button>
       <button mat-button>SHARE</button>
     </mat-card-actions>
   </mat-card>




      </div>
      <div class="col-lg-4 col-md-5 col-sm-6">
        <mat-card class="example-card">
          <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>March 2020 Part II</mat-card-title>
       <mat-card-subtitle>Subtitle</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="assets/media/pic2.jpg" alt="Photo of a Shiba Inu">
     <mat-card-content>
                <button mat-raised-button>3 mins ago</button>
                <!-- <mat-divider></mat-divider> -->
             <p>
         The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
         A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
         bred for hunting.
       </p>
     </mat-card-content>
     <mat-card-actions>
       <button mat-button>LIKE</button>
       <button mat-button>SHARE</button>
     </mat-card-actions>
   </mat-card>




      </div>  
    </div>
        
     

  

</body>
</html>
