<div class="modal-header">
  <h4 class="modal-title">Add New Stock</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  
    <div class="mb-3">
      <!-- <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> -->
  



  <label>Stock Name :</label> <input type="text" (input)='showfuzzy=true;'   class="form-control" [(ngModel)] = "stockname">
  <div *ngFor = 'let i of stocknamelist |filter : stockname '>
<p (click)='stockselect(i)'  *ngIf = 'showfuzzy' > 
{{i.stockname}}
</p>
</div>



<label>Stock Code :</label> <input type="text" class="form-control" [(ngModel)] = "stockcode">
<label>CMP:</label> <input type="text"  class="form-control" [(ngModel)] = "cmp">
<label>Reco date :</label> <input type="date"  class="form-control" [(ngModel)] = "recodate">
<label>Reco Price :</label> <input type="number"  class="form-control" [(ngModel)] = "recoprice">
<label>Target Price :</label> <input type="number" class="form-control"  [(ngModel)] = "targetPrice">
<label>Duration :</label> <input type="number"  class="form-control"  [(ngModel)] = "duration">

<label>Do I Hold : </label>
  <select class="form-control" [(ngModel)] = 'disclaimer'> 
     <option *ngFor ='let option of disclaimerlist'>
      {{option}} 
     </option>
  </select>

<label>Sector : </label>
 <select class="form-control" [(ngModel)] = 'sector'>
   <option *ngFor = 'let option of sectorlist' [value] ="option.Sector" >
      {{option.Sector}} 
   </option>
 </select> 

<label>Market Cap : </label> 
<select class="form-control" [(ngModel)] = "marketcap"> 
 <option *ngFor = 'let option of mcaplist' > 
   {{option}}
 </option>
</select>

  


</div>

<div class="modal-footer">
<button type="button" class="btn btn-primary"(click)="AddStock()">
Add
</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
</div>