 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>

    <div  class="container-fluid" >
        
        <div>
          <img mat-card-image id ="headpic" src="/assets/backgroung 2.png " >
        </div>
    
      <div class="bodycard">
      <mat-card class="headcard" >

        <div class="card mb-3">
            <img src="/assets/Logo Ver 2.png" id = "card2image" class="card-img-top" alt="card2image">
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="p-3 mb-2 bg-info text-dark">Don’t stop buying, but BUY Large Caps more.</p>
              <p class="p-3 mb-2 bg-info text-dark"> Value returning  in Auto Sector, but not returns </p>
              <p class="p-3 mb-2 bg-info text-dark"> Overall Sentiment is at all time LOW in 2019    </p>
              <p class="p-3 mb-2 bg-info text-dark"> Market will be ranged bound between 10500 – 11500 Nifty </p>
              
              
              
                <p class="card-text"><small class="text-muted">Last updated 17 months ago</small></p>
            </div>
          </div>
    
    <mat-card-title>
        <h1>Market Outlook-July 2019 </h1> 
    </mat-card-title>
    
        <mat-card-content>
        <p class ="para1">
            ProfitStockMarket.com RECOMMENDS to BUY Large caps and blue chips in small quantities for minor investors
            Avoid auto & auto ancillary stocks for current quarter and focus on Banking and Cement, technology and Consumer 
            goods sector
        </p>

        
     
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col"><img class="border border-dark" id ="Iml_md_body" src="/assets/media/mo19_01.png">
                    <p class="text-primary">Sectoral index Performance </p> 
                </div>
                  <!-- <div class="col"> <img class="border border-dark" id ="Imr_md_body" src="/assets/media/nse_5yr.JPG">
                    <p class="text-primary">NSE - 5 year performance </p>
                </div> -->
                  
                </div>
              </div> 
          
       
    
        <p class ="para1">
            We find Ultratech Cements, JK Cement, HDFC Bank, ICICI Bank, Punjab national bank 
            Kotak Mahindra bank and RBL bank, India Bulls Housing finance, UPL, 
            Hero Moto Corp as good stocks to invest in current environment 
            with a horizon of 6-12 months for a profit of 5%-12%. 
            
        </p>
        
        <p class ="para1">
            Auto Sector which is 50 % total manufacturing sector in India is reeling under perfect storm.
        Low demand, along with fear of BS VI stage and implication of electrification thrust by govt  for 
        all vehicles by 2025 and near-term issues of high auto insurance and input cost,
        Big daddy, Maruti has been posting continuous decline in profits for straight 4 quarters now. 
        </p>

        <p class ="para1">
            Overall Nifty Auto is down 4% in last 3 months and a whopping 25% in a year (as on 30 June 2019). 
            This is the worst performance compared to all other sectors.
            Today , GST rate on all EVs has been reduced from 12 per cent to 5 per cent 
            and tax on chargers or charging stations for EVs has been slashed from 18 per cent to 5 per cent. 
            This will further dent the sentiments of the auto sector as the capacity, inventory which is available 
            will be not be optimally utilized and auto sector to quickly initiate Capex for new technology with will 
            impact bottom line for long time.
        </p>
        <p class ="para1">
            Surprisingly, Media is also performing very badly (down 30% in 1 year). 
            Although it does not hold significant weight age, 
            however in the era of global connectivity and so much media relevance, such performance 
            raises serious question on the sector ability and credibility to deliver returns for investors
            
        </p>
        <p class ="para1">Another sector, Pharma is also not doing very well. USFDA has kept all Indian Pharma companies on their 
            toes for last several quarters. Bitter margin pressure, cost competition and US authorities has not let 
            Pharma companies improve their performance. Although the Indian Pharma companies are fundamentally strong, 
            however will not be beneficial to minor investors in 2019.
        </p>
        
     </mat-card-content>
        </mat-card>
        </div>    
        </div>                 

    
 </body>
 </html>
 
 
  
