<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>




<mat-card>

<div>
<img src="/assets/PSM_AD2.png" alt="" class="responsive" >

</div>



</mat-card>

    <div class="mat-card">

        <mat-card>








            
            <mat-card-title style="text-align: center; ">
                <h2 class="mat-display-2"> Our Mission </h2>
                <img src="/assets/pages/aboutme_mission.jpeg" alt="" class="responsive2">
            </mat-card-title>
            <mat-card-title style="text-align: center; ">
                <h2 class="mat-display-1"> Identify Right investment opportunities for
                    retail investors. </h2>
            </mat-card-title>

            <mat-card-content>
                <p class="mat-body-1" style="text-align: center;">
                    At profitStockMarket.com our mission is to study companies through its performance data and
                    business fundamental to simplify decision making for retail investors. We ensure that our
                    focus is always on getting our facts right, so that we publish our research reports with confidence
                    and are consistent while doing it.
                </p>

            </mat-card-content>
            <mat-divider style="max-width: 100%; position: relative;"></mat-divider>
            <mat-card-title style="text-align: center; ">
                <h2 class="mat-display-2">Vision</h2>
                <img src="/assets/pages/aboutme_vision.jpeg" alt="" class="responsive2">
            </mat-card-title>

            <mat-card-content class="mat-body-1" style="text-align: center;">
                <mat-card-title style="text-align: center; ">
                    <h2 class="mat-display-1"> Keep identifying Right Stock Ideas. </h2>
                </mat-card-title>

            </mat-card-content>
            <mat-divider style="max-width: 100%; position: relative;"></mat-divider>
            <mat-card-title style="text-align: center; ">
                <h2 class="mat-display-2">Values </h2>
            </mat-card-title>

            <mat-card-content class="mat-body-1" style="text-align: center;">
                <mat-card-title style="text-align: center; ">
                    <h2 class="mat-display-1"> We are guided by our standards and commitments </h2>
                </mat-card-title>

                <p>

                    <a style="text-decoration: double;"> Respect -</a>  we respect people, opinion and are committed to equality.
                </p>
                <p> <a style="text-decoration: double;"> Quality -</a>  we will always put facts and fundamentals in our research and strive for excellence
                    through continuous improvement.</p>
                   <p><a style="text-decoration: double;"> Customer Interest - </a> All our actions will be taken keeping customer’s interest in center and in focus
                    .</p>

                    

                
            </mat-card-content>
            <mat-divider style="max-width: 100%; position: relative;"></mat-divider>

            <mat-card-title style="text-align: center;margin-top: 15px;">
                <h2 class="mat-display-2">FAQ </h2>
            </mat-card-title>

            <mat-card-content>
                <mat-accordion>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <!-- <mat-panel-title>
                    
                      </mat-panel-title> -->
                            <mat-panel-description>
                                What do we DO?
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>At ProfitStockMarket.com, we provide good investment ideas by studying top companies, listed
                            in Nifty.
                            we share these stocks, its research reports and annual performance of share market on the
                            website .
                            Additionally , we provide "profitquery" Section, where any member can ask question to be
                            responded in 24hrs </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <!-- <mat-panel-title>
                       FAQ
                      </mat-panel-title> -->
                            <mat-panel-description>
                                Are there any Membership Charges ?
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p> Currently ProfitStockMarket.com is free to all with no membership feature till March 2021.
                            From April 1, 2021, membership will be mandatory to access premium section of website.
                            General sections
                            will be free to all members.
                        </p>
                        <p>
                            Charges will be 12,000.00 INR per year for indian residents. first 100 members will be given
                            25% Discount
                            For NRI and forign nationnals membership charges will be 250US $ </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <!-- <mat-panel-title>
                       FAQ
                      </mat-panel-title> -->
                            <mat-panel-description>
                                What will I get in Premium Section ?
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p> Protfolio Section : Provide new recommendations
                        </p>
                        <p> ProfitQuery Section : Answer your stock queries immediately
                        </p>
                        <p> Stock Analysis Section : Research reports and monthly market outlook
                        </p>
                        <p> Portfolio Consultation Section : Upload your existing portfolio on
                            the website and get personalised performance analysis.
                        </p>
                        
                    </mat-expansion-panel>
                </mat-accordion>


            </mat-card-content>


            <!-- <mat-card-title style="text-align: center; ">
                <h2 class="mat-display-2"> Logo </h2>
                 <p>  Logo has been designed in Adobe Illustrator   </p>
                 <p>  Character is Perpetua with 97 points spacing within each character    </p>
                 <p>   the three rectangular Bar represents major actions in stock market . the dimensions of the three bars are 
                     BUY - The right Most Bar represents BUY action in market . It is represented with GREEN Color Hexadecimal #006837. 
                     HOLD - The middle rectangular bae represents the middle ground , which is HOLD and is being represented with Hexadecimal #27c1bb color 
                     SELL - First BAR represents Selling of Stocks in market . The 3D angle of the bar stands at 20 degreesand is being represented with Hexadecimal #c1272d color  </p>


            </mat-card-title> -->


        </mat-card>
    </div>


</body>

</html>