.mat-display-2{
margin-top: 10px;
margin-bottom: 15px;


}
.mat-display-1{
color: blue;
margin-bottom: 2px;
background-color: lightgoldenrodyellow;
}

.img1{
width: 800px;

}

.responsive {
    width: 100%;
    height: auto;
  }
.responsive2 {
    width: 100%;
    height: 250px;
  }