.example-card {
    min-height: 550px;
    max-width: 450px;
    min-width: 450px;
    margin: 4px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
