<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
     <mat-card-title>Market Outlook 2020 <span class="badge bg-secondary">New</span> </mat-card-title>
     <mat-card-subtitle>Part II - December</mat-card-subtitle>
   </mat-card-header>
   <img mat-card-image src="/assets/backgroung 2.png" href="https://www.w3schools.com" >
   <mat-card-content>
              
    <button mat-raised-button style="left:300px ">3 mins ago</button>
              
                <p>
                BUY Mid-Caps, Small-Caps and HOLD on all Large Caps.  
                Remember, ProfitStockMarket advises to book profits, hence whatever the stock, 
                we strongly advise to book profits in all stocks 
                .<a mat-raised-button class = 'mo4' (click)="Mo4()" target="__blank"> Continue Reading</a>
              </p>
       
     
   </mat-card-content>
   <mat-card-actions>
     <button mat-button>LIKE</button>
     <button mat-button>SHARE</button>
   </mat-card-actions>
 </mat-card>
</div>

    <div class="col-lg-4 col-md-5 col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
     <mat-card-title>Market Outlook 2020 </mat-card-title>
     <mat-card-subtitle>Part I - March</mat-card-subtitle>
   </mat-card-header>
   <img mat-card-image class="card-image" src="/assets/backgroung 2.png">
   <mat-card-content>
              <button mat-raised-button style="left: 300px">3 mins ago</button>
              <!-- <mat-divider></mat-divider> -->
           <p >
            Invest slowly in current market and be cautious
            Markets will give many opportunity in next 3 months to BUY strong front-line stocks . 
            Stay away from Mid caps and small caps for now
            Nifty can touch 7000-8500 range
            <a mat-raised-button class ="mo3" (click)="Mo3()" target="__blank"> Continue Reading</a>
          </p> 
   </mat-card-content>
   <mat-card-actions>
     <button mat-button>LIKE</button>
     <button mat-button>SHARE</button>
   </mat-card-actions>
 </mat-card>




    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
     <mat-card-title>Market Outlook- 2019</mat-card-title>
     <mat-card-subtitle>July</mat-card-subtitle>
   </mat-card-header>
   <img mat-card-image src="/assets/media/pic1.jpg">
   <mat-card-content>
              <button mat-raised-button>3 mins ago</button>
              <!-- <mat-divider></mat-divider> -->
           <p>
            Don’t stop buying, but BUY Large Caps more .
            Value returning  in Auto Sector, but not returns 
            Overall Sentiment is at all time LOW in 2019    
            Market will be ranged bound between 10500 – 11500 Nifty 
            <a mat-raised-button class ="mo2" (click)="Mo2()" target="__blank"> Continue Reading</a>
     </p>
   </mat-card-content>
   <mat-card-actions>
     <button mat-button>LIKE</button>
     <button mat-button>SHARE</button>
   </mat-card-actions>
 </mat-card>

    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
     <mat-card-title>March 2020 Part II</mat-card-title>
     <mat-card-subtitle>Subtitle</mat-card-subtitle>
   </mat-card-header>
   <img mat-card-image src="assets/media/pic2.jpg" alt="Photo of a Shiba Inu">
   <mat-card-content>
              <button mat-raised-button>3 mins ago</button>
              <!-- <mat-divider></mat-divider> -->
           <p>
       The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
       A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
       bred for hunting.<a mat-raised-button href="/mo4/mo4.component.html" target="_blank"> Continue Reading</a>
     </p>
   </mat-card-content>
   <mat-card-actions>
     <button mat-button>LIKE</button>
     <button mat-button>SHARE</button>
   </mat-card-actions>
 </mat-card>




    </div>  
  </div>
      