<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  class="container-fluid" >
        
        <div>
          <img mat-card-image id ="headpic" src="/assets/backgroung 2.png " >
        </div>
    
      <div class="bodycard">
      <mat-card class="headcard" >
    
    <mat-card-title>
        <h1>Market Outlook-Part 2</h1> 
    </mat-card-title>
    
        <mat-card-content>
        <p class ="para1">
          Since April, Large Caps and Nifty stocks have moved like there will be no tomorrow. 
          It all started after bank and pharma stocks started to post better than expected Q2 results, 
          followed by IT. The numbers posted by these companies were not expected in extremely negative environment. 
          Strong and experience hands just lapped up the opportunity increasing the volumes of the stock transaction, 
          Leaving the followers to play the catchup game.  
          So, in past one year, pharma companies like Divi’s lab, Dr Reddy’s Lab, 
          Cipla and Sun Pharma clocked more than 30% returns. Please note, I am not considering the lowest point from where these returns would be more than 70%. I am taking the benchmark of January 2020, when the great fall in nifty had not happened.  Similar pattern experienced in IT sector where Infosys, HCL technologies, Wipro, TCS and Tech Mahindra, all gave more than 20% at least. Infosys was the highest IT stock gainer on Nifty which gave 69% return.
          And then it was mid-caps in November and December. The run was predictable and defying any logic. 
          For any great bull run, it is the Mid-Caps rise after a strong performance of Large caps, which 
          legitimizes the bull run in stock markets.   
          These are staggering returns which comes rarely in decades. 
          Due to COVID-19 pandemic, the pessimism was overdone and Indian companies with strong governance exceled 
          in cost cutting. Together they created an environment which was hard to ignore. 
          Those who chose to sit outside of this bull run are net losers and Law of averages in stock markets 
          proved to be correct once again. The principle of always being invested in markets in fundamentally strong 
          stocks has been reinforced ….and with some force. 
          
        </p>

        
            
        
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2">
                  <div class="col"><img class="border border-dark" id ="Iml_md_body" src="/assets/media/nse_1yr.JPG">
                    <p class="text-primary">NSE - 1 year performance </p> 
                </div>
                  <div class="col"> <img class="border border-dark" id ="Imr_md_body" src="/assets/media/nse_5yr.JPG">
                    <p class="text-primary">NSE - 5 year performance </p>
                </div>
                  
                </div>
              </div>
             
       
    <h2>Economic Indicators and its implications in 2021</h2>
        <p class ="para1">On macro-economic front, lower interest rate continues to make cost of money cheaper 
          which is driving the markets. At the same time low interest rate will enable strong and credible companies 
          will rush to borrow if they have expansion plans. After reading numerous annual reports and companies conference 
          call, the trend suggests that retail loan portfolio is growing.    
            
        </p>
        
        <p class ="para1">Low Interest rate coupled with lowered stamp duty and stagnant property prices have 
          created a potent combination of spurt in demand in Maharashtra. This will surely result in a better 
          FY22 for real estate companies in Mumbai and all of Maharashtra. they will be able to generate better 
          cash flow, resulting in funding the debts and completing the projects.   
        </p>
        <p class ="para1">Lowest interest rate and Repo rate is signal of long-term bull market on the back of 
          some solid and serious growth. 
        </p>

        <div class="container">
            <div class="row row-cols-1">
              <div class="col"><img class="border border-dark" id ="Iml_md_body" src="/assets/media/CRR.JPG">
                <p class="text-primary">RBI Repo Rate</p> 
            </div>
            </div>
          </div>
        <p class ="para1">With low interest rate, salary class will want to make most out of it in property and 
          consumer discretionary sector. To service this demand, financial institutions will borrow more from RBI 
          at low repo rate and coupled with higher digital penetration of financial tools, banks and NBFC will be 
          able to 
          service to more customers. 
        </p>
        <p class ="para1">If unemployment issues and COVID -19 surprises are contained, 
          favorable economic environment, stable government and reducing geo-political tension are all 
          suggesting another cycle of increasing growth. Additional to it, weakening US dollar, and ever-increasing 
          focus on medical services   
        </p>
        <p class="para1">At ProfitStockMarket.com, we play the simple game to trust in Governance, Earnings and Consistency 
          (GEC) of a company. Our principle is to invest in business and not in a stock, therefore our focus remains on GEC 
          dimensions of company. Together with the GEC dimension and global/local economic political and social 
          environment we conclude on stocks which have a better performance potential.   </p>

<h2>Recommendations: </h2>
<p class="para1">  
  Although entire PSM Index will be available for registered users, 
  ProfitStockMartet.com will be releasing select stock list by 15th January 2021 for the next year   
</p>
<div class="container">
  <div class="row row-cols-1">
    <div class="col"><img class="border border-dark" id ="Iml_md_body" src="/assets/media/SR_2021.jpg">
      <p class="text-primary">Sector recommendation by PSM for 2021</p> 
  </div>
  </div>
</div>
     </mat-card-content>
        </mat-card>
        </div>    
        </div>   
        
       
 
</body>
</html>

