<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">



  <title></title>

</head>

<body>

  <img id="headpic" src="/assets/SA_1.jpg ">


  <div>
    <div class="card">

      <div class="card-header ">
        <div class="clearfix">
          <!-- <p class="para2"> Ultrateh Cement</p> -->
          <h1 class="para2">Ultratech Cement</h1>

          <img id="img2" style="float:right" src="/assets/Logo Ver 2.png">
        </div>
      </div>
      <!-- <div class="d-inline p-2 bg-primary text-white">d-inline</div> -->
      <div class="card-body">
        <img id="img1" style="float:left" src="/assets/companylogo/Ultratech-01.png">
        <p id="para2" class="text-justify">
          UltraTech Cement Ltd is the largest manufacturer of grey cement, ready mix concrete (RMC) and white
          cement in India. It is also one of the leading cement producers globally, and the only cement company
          globally (outside of China) to have more than 100 million tonne capacity in one country
        </p>
        <p id="para2" class="text-justify">
          Company has commissioned integrated unit in Dhar (3.5 MTPA), acquired cement business of Binani Cement
          (6.25 MTPA) cement and completed merger of cement business of Century Textiles & Industries Ltd with
          UltraTech
          Cement, taking the overall annual cement capacity to 116.75 MT.
        </p>
        <p id="para2" class="text-justify">
          Now company plans to add another 20MT capacity in India to cater to peak demands in east and central
          markets,
          incurring 2500 crores of Capex every year but keeping the debt free target by 2023
        </p>




        <div class="row row-cols-1 row-cols-sm-2">
          <div class="col"><img class="border border-dark" id="Iml_md_body" src="/assets/media/ultratech_1yr.PNG">
            <p class="text-primary">Ultratech Cement - 1 year performance at NSE </p>
          </div>
          <div class="col"> <img class="border border-dark" id="Imr_md_body" src="/assets/media/ultratech_5yr.PNG">
            <p class="text-primary">Ultratech Cement - 5 year performance at NSE </p>
          </div>

        </div>



        <h2>Insights</h2>
        <p id="para2" class="text-justify">Capex plans and debt reduction shows companies confidence in demand,
          macroeconomic outlook,
          and its capability to remain a market leader in the business.</p>
        <p id="para2" class="text-justify"> Globally Debt/EBITDA ratio of world largest cement
          companies are ranging between 2x to 4x and commitment to keep it below 1x definitely is a big positive in
          companies
          financial health this factor alone will enable analyst and FII interested . </p>


        <h2>Shareholding pattern</h2>
        <p id="para2" class="text-justify">Promoter and Promotor group has 59.91% shares with no share as pledged.
          Employee trusts have 0.70%. 25% is being held by domestic MF’s and Foreign Institutions and 9% approx.
          is with the Indian insurance companies, of which LIC has 4 %.
        </p>
        <p id="para2" class="text-justify">The shareholding pattern reflects high a classic large and fundamentally
          strong
          company with complete thumbs up by key financial institutions
        </p>

        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h3 class="card-title">Ultratech Cement - Shareholding Patteren (%)</h3>
                <div style="display: block;">
                  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                  </canvas>
                </div>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h3 class="card-title">Ultratech Cement - Earnings per Share(INR)</h3>
                <div style="display: block;">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                </div>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </div>
        </div>

        <p id="para2" class="text-justify">Earnings per share should increase with increased earnings, reduced debts,
          and operational efficiencies achieved.
        </p>
        <p id="para2" class="text-justify">
          Reasonable P/E of 25x, commitment from management to reduce the debt to less than 1x of its NET Debt/EBITDA,
          CAPEX plans and positive demand of building materials sector in India are making Ultratech cement a
          fundamentally
          strong company to invest
        </p>

        <h2>Recommendations: </h2>
        <p id="para2" class="text-justify">
          PSM sees 15-20% appreciation in the Stock Prices in next 1 year </p>
        <p id="para2" class="text-justify">Profit Stock market recommends good performance by company in next 8-12
          quarters </p>

        <p id="para2" class="text-justify">Although entire PSM Index will be available for registered users,
          ProfitStockMartet.com will be releasing select stock list by 15th January 2021 for the next year
        </p>
        <div class="container">
          <div class="row row-cols-1">
            <div class="col"><img class="border border-dark" id="Iml_md_body" src="/assets/media/SR_2021.jpg">
              <p class="text-primary">Sector recommendation by PSM for 2021</p>

              <div class="card">

                <p id="para2" class="text-justify">At ProfitStockMarket.com, we play the simple game to trust in
                  Governance, Earnings
                  and Consistency
                  (GEC) of a company. Our principle is to invest in business and not in a stock, therefore our focus
                  remains on GEC
                  dimensions of company. Together with the GEC dimension and global/local economic political and
                  social
                  environment we conclude on stocks which have a better performance potential. </p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>





  
    <div class="card">

      <div class="card-header ">
        <div class="clearfix">
          <h1 class="para2">Federal Bank</h1>

          <img id="img2" style="float:right" src="/assets/Logo Ver 2.png">




        </div>
      </div>
      <!-- <div class="d-inline p-2 bg-primary text-white">d-inline</div> -->
      <div class="card-body">
        <img id="img1" style="float:left" src="/assets/federalbank_logo.png">

        <p id="para2" class="text-justify">

          Federal Bank has its presence across India through network of 1251 Branches, out of which
          599 are in Kerala alone. Other States with 100+ Branches are Karnataka, Tamil Nadu, and
          Maharashtra. Company has posted good Q1 Numbers with credible control on the NPA.
          Company has 1 million customers and 1606 ATM.

        </p>

        <p id="para2" class="text-justify">
          Federal Bank has its presence across India through network of 1251 Branches, out of which
          599 are in Kerala alone. Other States with 100+ Branches are Karnataka, Tamil Nadu, and
          Maharashtra. Company has posted good Q1 Numbers with credible control on the NPA.
          Company has 1 million customers and 1606 ATM.
        </p>


        <p id="para2" class="text-justify">
          Federal Bank's June quarter profit grew by 46.2 percent year-on-year to Rs 384crore which
          is highest ever. Higher other income and operating profit boosted earnings. Profit in the
          same quarter last year was Rs 263 crore. Compared to previous quarter company reported
          1% increase in Net profits.Net interest income, the difference between interest earned and interest expended,
          increased 18 percent YoY to Rs 1,154 crore and up 5% Q-o-Q . Currently, loan growth stands
          at 53% Wholesale and 47% Retail. Company has the objective to increase the retail share by
          50% in next 2 years, which is a good thing from the improvement of asset quality and
          profitability
        </p>
        <p id="para2" class="text-justify">
          In a clarification question, CEO and MD Mr. Shyam Srinivasan announced 32 Crores from
          the overall 240 crores in IF&FS accounts have been declared as NPA in Q1.
          Company has started home delivery of gold loans which is popular in southern India and it
          should have a healthy impact on the topline as well as bottom line. Also federal bank has a
          matured digital platform through which majority of banking services and transactions are
          done . Any company with average digital platform is set to loose in the challenging
          environment . Any bank with a matured digital platform is set to benefit .Quarterly EBITDA in Q119 2665
          Crore vis-à-vis Q118 2091 Crore, is rising and in sync with
          its consistent growth provides confidence in overall financial performance for the bank.</p>
        <p id="para2" class="text-justify">Nowadays, asset quality is the most important parameter for banks and is
          critical in
          determining confidence in the bank and rules its share price. Company has reported its
          GNPA and NNPA is at 2.99% and 1.49% respectively. Additionally, Credit Cost stands at
          0.63% & PCR to 67.41% and Net Stressed assets at 1.67% of the average total assets. It is to
          be observed that total Stressed Book for Federal bank stands at 2624Cr. Which is 1.67% of
          Average Total Assets.Net Stressed asset which is he lowest in last 10 Quarters .
          Company’s shares prices have come down by 11% since its quarterly results and ruling at
          1.21 times its price to book. This should be considered a healthy financial parameter. Having
          P/E of 12 in banking sector, Federal bank is one of the cheapest medium sized banks with
          good fundamentals. From current levels, Federal Bank downside is limited however
          maintaining the quarterly performance will be key to the stock price performance for the
          stock.</p>
        <p id="para2" class="text-justify">Profit Stock market recommends to BUY Federal Bank in the range of 82 -86 for
          target price
          of 100 resulting 20% appreciation approximately in the share price in next 2 to 3 quarters.</p>
      </div>
    </div>
  

  
    <div class="card">
      <div class="card-header ">
        <div class="clearfix">
          <h1 class="para2">Birla Cable Limited</h1>
          <img id="img2" style="float:right" src="/assets/Logo Ver 2.png">
        </div>
      </div>
      <div class="card-body">
        <img id="img1" style="float:left" src="/assets/birlacables_logo.png">
        <p id="para2" class="text-justify">Birla cable is 2nd is owned by MP Birla Group and is company of optical Fiber and Copper Wires for
          telecommunication in India
          has a shown a stable performance. 76.23 % of turnover comes from optical fiber cable business, while remaining
          22.35% comes from
          copper cable.Company was known as Birla Ericsson Optical Limited was renamed and adopted promotor name and
          offers portfolio of Copper and Optical Fiber cables.
          Company Declared Dividend of ₹ 1.00 per equity share of face value of ₹10.00 in for FY 2017-18, which was ₹0.00
          in FY 2016-17.</p>
        <p id="para2" class="text-justify">Promoter has 66% shares with low PE compared to Sector leader (Sterlite technologies) and no pledged shares,
          indicating good fundamental strength
          As per company’s Financial Statement of FY 2017-18, Company has debt (Secured & Unsecured) of 44 Crores</p>
        <p id="para2" class="text-justify">In a clarification question, CEO and MD Mr. Shyam Srinivasan announced 32 Crores from
          the overall 240 crores in IF&FS accounts have been declared as NPA in Q1.
          Company has started home delivery of gold loans which is popular in southern India and it
          should have a healthy impact on the topline as well as bottom line. Also federal bank has a
          matured digital platform through which majority of banking services and transactions are
          done . Any company with average digital platform is set to loose in the challenging
          environment . Any bank with a matured digital platform is set to benefit</p>
        <p id="para2" class="text-justify">Birla cable is 2nd is owned by MP Birla Group and is company of optical Fiber and Copper Wires for
          telecommunication in India
          has a shown a stable performance. 76.23 % of turnover comes from optical fiber cable business, while remaining
          22.35% comes from
          copper cable.Company was known as Birla Ericsson Optical Limited was renamed and adopted promotor name and
          offers portfolio of Copper and Optical Fiber cables.
          Company Declared Dividend of ₹ 1.00 per equity share of face value of ₹10.00 in for FY 2017-18, which was ₹0.00
          in FY 2016-17.
          Promoter has 66% shares with low PE compared to Sector leader (Sterlite technologies) and no pledged shares,
          indicating good fundamental strength
          As per company’s Financial Statement of FY 2017-18, Company has debt (Secured & Unsecured) of 44 Crores</p>
        <p id="para2" class="text-justify">Quarterly EBITDA in Q119 2665 Crore vis-à-vis Q118 2091 Crore, is rising and in sync with
          its consistent growth provides confidence in overall financial performance for the bank</p>
        <p id="para2" class="text-justify">Date :1 September 2019
          Target Price: ₹ 120
          Duration: 03-09 months</p>
        <p id="para2" class="text-justify">Profit Stock market recommends good performance by company in next 2 quarters and Stock Price recovery of at
          least 20% and recommends the stock for price of 114 in 6-8 months.
        Profit Stock market recommends to BUY Federal Bank in the range of 82 -86 for target price
          of 100 resulting 20% appreciation approximately in the share price in next 2 to 3 quarters.</p>
      </div>
    </div>
  

  
    <div class="card">
      <div class="card-header ">
        <div class="clearfix">
          <h1 class="para2">UPL</h1>
          <img id="img2" style="float:right" src="/assets/Logo Ver 2.png">
        </div>
      </div>
      <div class="card-body">
        <img id="img1" style="float:left" src="/assets/upl-logo.jpg">
        <p id="para2" class="text-justify">UPL is Market Leader with global presence and strong balance sheet</p>
        <p id="para2" class="text-justify">UPL is largest in india and one of the largest generic agro-chemical companies in the world with meaningful
          presence across major
          markets such as the USA, Europe, Latin America and India. It has presence in more than 130 countries with 35
          manufacturing facilities
          spread across the globe (16 manufacturing facilities in India and balance outside India).
          </p>
        <p id="para2" class="text-justify">In FY 2019 , UPL has grown by 15% which is consistent and impressive with a company of this size .
          Important point is to note that company is in cash generating business model with overall revenue touching INR
          19,000 crores,up 14% compared to previous financial year. Company has been announcing near 20% yearly dividend for last 4
          Financial years,indicating strong and consistent performance .
            </p>
        <p id="para2" class="text-justify">With commanding PE of 28X ,annual growth of 15% and guidance
           of debt reduction by INR 3000 crores, company is asset to regain its upwards movement trend of stock price</p>
        <p id="para2" class="text-justify">Stock is currently trading in range of 980-990 .
          we are giving a Strong and Regular BUY of UPL in 2019 , for a price gain in the range of 12%-18% by end of FY
          2020 </p>
      </div>
    </div>
  



<!-- boiler plate code  -->

  <!-- <div class="container">
    <div class="card">
      <div class="card-header ">
        <div class="clearfix">
          <p class="para2">XXXXXXXXXXXX</p>
          <img id="img2" style="float:right" src="/assets/Logo Ver 2.png">
        </div>
      </div>
      <div class="card-body">
        <img id="img1" style="float:left" src="...">
        
        <p id="para2" class="text-justify"></p>
        
      </div>
    </div>
  </div> -->




  <div>
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel id="toggle-1" title="Rating Definition">
        <ng-template ngbPanelContent>
          Category Explanation of rational Each Stock share in your Portfolio
          • Buy at WILL: Stocks have best fundamental parameters and is a must hold in any portfolio.
          • Very Slow Buy: Good Stocks which are down due to some news or event
          • Slow Buy: Good Stocks with sound fundamental Hold for 3-6 Months for 8-15% returns
          • BUY: Good Stocks. Hold for 3-6 Months for 8-20% returns.
          • Very High Risk: Stocks down and out but have potential to Return with a vengeance.

          Stocks are suggested based on stock’s parameter analysis and comparison with peers.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-2" title="Disclosure">
        <ng-template ngbPanelContent>
          I Shashi Raghuvansh Shekhar, B.Tech, author, hereby certify that all of the views expressed in this research report
          accurately reflect my views about the subject issuer(s) or securities. I also certify that the views is
          created for free, untill explicitly mentioned otherwise and no part of my earning is directly or indirectly related to the 
          recommendation .
          I may have exposure to the recommended stock from time to time, however the ownership will never be greater
          than 1 % of recommended stock.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-3" title="Disclaimer">
        <ng-template ngbPanelContent>
          This report has been prepared by Shashi Raghuvansh Shekhar of ProfitStockMarket.com, and is solely for information of
          the recipient only. The report must not be used as a singular basis of any investment decision.
          The views herein are of a general nature and do not consider the risk appetite or the circumstances
          of an individual investor; readers are requested to take professional advice before investing.
          Nothing in this document should be construed as investment advice. Reader of the document should make
          their own judgement and investigation before concluding any action. The information and opinions contained
          in the document have been complied based on best information available with good intent.
          Information has not been independently verified and no guaranty, representation of warranty,
          express or implied, is made as to its accuracy, completeness or correctness.
          All such information and opinions are subject to change without notice. Research analyst,
          Shashi Raghuvansh shekhar has not served as an officer, director or employee of the subject company.
          We have not received any compensation/benefits from the subject company or third party in connection
          with the Research Report
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    
<div style="margin: 8px;">
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Rating Definition</button>
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-2')">Disclosure</button>
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-3')">Disclaimer</button>
</div>
  </div>
  
  <div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 5" >
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" 
    class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 
      0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0
       0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
    
 </div>


</body>

</html>