<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta charset="utf-8">
    <img src= "Logo Ver 2.png" alt="ProfitStockMarket logo image" class="LogoImg">
    
 
    <title></title>
    
  </head>
  <body>
    <div class="media" id="federalbank">
      <img id="mediaimage" src="/assets/federalbank_logo.png" class="align-self-center mr-1" alt="img1">
      <div class="media-body">
           <p>
          Federal Bank has its presence across India through network of 1251 Branches, out of which
          599 are in Kerala alone. Other States with 100+ Branches are Karnataka, Tamil Nadu, and
          Maharashtra. Company has posted good Q1 Numbers with credible control on the NPA.
          Company has 1 million customers and 1606 ATM.
        </p>
    
        <p>
          Federal Bank's June quarter profit grew by 46.2 percent year-on-year to Rs 384crore which
          is highest ever. Higher other income and operating profit boosted earnings. Profit in the
          same quarter last year was Rs 263 crore. Compared to previous quarter company reported
          1% increase in Net profits.Net interest income, the difference between interest earned and interest expended,
          increased 18 percent YoY to Rs 1,154 crore and up 5% Q-o-Q . Currently, loan growth stands
          at 53% Wholesale and 47% Retail. Company has the objective to increase the retail share by
          50% in next 2 years, which is a good thing from the improvement of asset quality and
          profitability
        </p>
        <p>
          In a clarification question, CEO and MD Mr. Shyam Srinivasan announced 32 Crores from
          the overall 240 crores in IF&FS accounts have been declared as NPA in Q1.
          Company has started home delivery of gold loans which is popular in southern India and it
          should have a healthy impact on the topline as well as bottom line. Also federal bank has a
          matured digital platform through which majority of banking services and transactions are
          done . Any company with average digital platform is set to loose in the challenging
          environment . Any bank with a matured digital platform is set to benefit .Quarterly EBITDA in Q119 2665 
          Crore vis-à-vis Q118 2091 Crore, is rising and in sync with
          its consistent growth provides confidence in overall financial performance for the bank.</p>
             <p>Nowadays, asset quality is the most important parameter for banks and is critical in
          determining confidence in the bank and rules its share price. Company has reported its
          GNPA and NNPA is at 2.99% and 1.49% respectively. Additionally, Credit Cost stands at
          0.63% & PCR to 67.41% and Net Stressed assets at 1.67% of the average total assets. It is to
          be observed that total Stressed Book for Federal bank stands at 2624Cr. Which is 1.67% of
          Average Total Assets.Net Stressed asset which is he lowest in last 10 Quarters .
          Company’s shares prices have come down by 11% since its quarterly results and ruling at
          1.21 times its price to book. This should be considered a healthy financial parameter. Having
          P/E of 12 in banking sector, Federal bank is one of the cheapest medium sized banks with
          good fundamentals. From current levels, Federal Bank downside is limited however
          maintaining the quarterly performance will be key to the stock price performance for the
          stock.</p>
          <p>Profit Stock market recommends to BUY Federal Bank in the range of 82 -86 for target price
          of 100 resulting 20% appreciation approximately in the share price in next 2 to 3 quarters.</p>
          </div>
    </div>
    <hr>    
    
<div class="media" id="federalbank">
  <img id="mediaimage" src="/assets/federalbank_logo.png" class="align-self-center mr-1" alt="img1">
  <div class="media-body">
       <p>
      Federal Bank has its presence across India through network of 1251 Branches, out of which
      599 are in Kerala alone. Other States with 100+ Branches are Karnataka, Tamil Nadu, and
      Maharashtra. Company has posted good Q1 Numbers with credible control on the NPA.
      Company has 1 million customers and 1606 ATM.
    </p>

    <p>
      Federal Bank's June quarter profit grew by 46.2 percent year-on-year to Rs 384crore which
      is highest ever. Higher other income and operating profit boosted earnings. Profit in the
      same quarter last year was Rs 263 crore. Compared to previous quarter company reported
      1% increase in Net profits.Net interest income, the difference between interest earned and interest expended,
      increased 18 percent YoY to Rs 1,154 crore and up 5% Q-o-Q . Currently, loan growth stands
      at 53% Wholesale and 47% Retail. Company has the objective to increase the retail share by
      50% in next 2 years, which is a good thing from the improvement of asset quality and
      profitability
    </p>
    <p>
      In a clarification question, CEO and MD Mr. Shyam Srinivasan announced 32 Crores from
      the overall 240 crores in IF&FS accounts have been declared as NPA in Q1.
      Company has started home delivery of gold loans which is popular in southern India and it
      should have a healthy impact on the topline as well as bottom line. Also federal bank has a
      matured digital platform through which majority of banking services and transactions are
      done . Any company with average digital platform is set to loose in the challenging
      environment . Any bank with a matured digital platform is set to benefit .Quarterly EBITDA in Q119 2665 
      Crore vis-à-vis Q118 2091 Crore, is rising and in sync with
      its consistent growth provides confidence in overall financial performance for the bank.</p>
         <p>Nowadays, asset quality is the most important parameter for banks and is critical in
      determining confidence in the bank and rules its share price. Company has reported its
      GNPA and NNPA is at 2.99% and 1.49% respectively. Additionally, Credit Cost stands at
      0.63% & PCR to 67.41% and Net Stressed assets at 1.67% of the average total assets. It is to
      be observed that total Stressed Book for Federal bank stands at 2624Cr. Which is 1.67% of
      Average Total Assets.Net Stressed asset which is he lowest in last 10 Quarters .
      Company’s shares prices have come down by 11% since its quarterly results and ruling at
      1.21 times its price to book. This should be considered a healthy financial parameter. Having
      P/E of 12 in banking sector, Federal bank is one of the cheapest medium sized banks with
      good fundamentals. From current levels, Federal Bank downside is limited however
      maintaining the quarterly performance will be key to the stock price performance for the
      stock.</p>
      <p>Profit Stock market recommends to BUY Federal Bank in the range of 82 -86 for target price
      of 100 resulting 20% appreciation approximately in the share price in next 2 to 3 quarters.</p>
      </div>
</div>
<hr>
<div class="media" id="birlacable">
  <img id="mediaimage" src="/assets/birlacables_logo.png" class="align-self-center mr-1" alt="img2">
  <div class="media-body">
         <p class="text-justify">
      Birla cable is 2nd is owned by MP Birla Group and is company of optical Fiber and Copper Wires for telecommunication in India
      has a shown a stable performance. 76.23 % of turnover comes from optical fiber cable business, while remaining 22.35% comes from 
      copper cable.Company was known as Birla Ericsson Optical Limited was renamed and adopted promotor name and offers portfolio of Copper and Optical Fiber cables.  
      Company Declared Dividend of ₹ 1.00 per equity share of face value of ₹10.00 in for FY 2017-18, which was ₹0.00 in FY 2016-17.
      Promoter has 66% shares with low PE compared to Sector leader (Sterlite technologies) and no pledged shares, indicating good fundamental strength 
      As per company’s Financial Statement of FY 2017-18, Company has debt (Secured & Unsecured) of 44 Crores</p>
      <p>In a clarification question, CEO and MD Mr. Shyam Srinivasan announced 32 Crores from
      the overall 240 crores in IF&FS accounts have been declared as NPA in Q1.
      Company has started home delivery of gold loans which is popular in southern India and it
      should have a healthy impact on the topline as well as bottom line. Also federal bank has a
      matured digital platform through which majority of banking services and transactions are
      done . Any company with average digital platform is set to loose in the challenging
      environment . Any bank with a matured digital platform is set to benefit .</p>
      <p>Quarterly EBITDA in Q119 2665 Crore vis-à-vis Q118 2091 Crore, is rising and in sync with
      its consistent growth provides confidence in overall financial performance for the bank.</p>
       <p>  Date :1 September 2019
      Target Price: ₹ 120
      Duration: 03-09 months</p>
    
      <p>Profit Stock market recommends good performance by company in next 2 quarters and Stock Price recovery of at least 20% and recommends the stock for price of 114 in 6-8 months  .</p>
      <p>Profit Stock market recommends to BUY Federal Bank in the range of 82 -86 for target price
      of 100 resulting 20% appreciation approximately in the share price in next 2 to 3 quarters.</p>
    
  </div>
</div>
<hr>
<div class="media" id="upl">
  <img id="mediaimage" src="/assets/upl-logo.jpg" class="align-self-center mr-1" alt="img3">
    <div class="media-body">
      <p>
      UPL is Market Leader with global presence and strong balance sheet
UPL is largest in india and one of the largest generic agro-chemical companies in the world with meaningful presence across major 
markets such as the USA, Europe, Latin America and India. It has presence in more than 130 countries with 35 manufacturing facilities 
spread across the globe (16 manufacturing facilities in India and balance outside India).
In FY 2019 , UPL has grown by 15% which is consistent and impressive with a company of this size .
Important point is to note that company is in cash generating business model with overall revenue touching INR 19,000 crores, 
up 14% compared to previous financial year. Company has been announcing near 20% yearly dividend for last 4 Financial years, 
indicating strong and consistent performance .

With commanding PE of 28X ,annual growth of 15% and guidance of debt reduction by INR 3000 crores, company is set to regain its 
upwards movement trend of stock price .
</p>
<p>Stock is currently trading in range of 980-990 .
  we are giving a Strong and Regular BUY of UPL in 2019 , for a price gain in the range of 12%-18% by end of FY 2020 </p>     
    
  </div>
</div>



<div class = 'container-fluid'>
<ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="toggle-1" title="Rating Definition">
    <ng-template ngbPanelContent>
        Category Explanation of rational Each Stock share in your Portfolio 
      • Buy at WILL: Stocks have best fundamental parameters and is a must hold in any portfolio. 
      • Very Slow Buy: Good Stocks which are down due to some news or event 
      • Slow Buy: Good Stocks with sound fundamental Hold for 3-6 Months for 8-15% returns 
      • BUY: Good Stocks. Hold for 3-6 Months for 8-20% returns. 
      • Very High Risk: Stocks down and out but have potential to Return with a vengeance. 
      
      Stocks are suggested based on stock’s parameter analysis and comparison with peers.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-2" title="Disclosure:">
    <ng-template ngbPanelContent>
      I Shashi Shekhar, B.Tech, author, hereby certify that all of the views expressed in this research report 
      accurately reflect my views about the subject issuer(s) or securities. I also certify that the views is for
       created for free and no part of my earning is directly or indirectly related to the recommendation .
       I may have exposure to the recommended stock from time to time , however the ownership will never be greater
        than 1 % of recommended stock.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-3" title="Disclaimer:">
    <ng-template ngbPanelContent>
      This report has been prepared by Shashi Shekhar of ProfitStockMarket.com is solely for information of 
      the recipient only. The report must not be used as a singular basis of any investment decision. 
      The views herein are of a general nature and do not consider the risk appetite or the circumstances 
      of an individual investor; readers are requested to take professional advice before investing. 
      Nothing in this document should be construed as investment advice. Reader of the document should make 
      their own judgement and investigation before concluding any action. The information and opinions contained 
      in the document have been complied based on best information available with good intent. 
      Information has not been independently verified and no guaranty, representation of warranty, 
      express or implied, is made as to its accuracy, completeness or correctness. 
      All such information and opinions are subject to change without notice. Research analyst, 
      Shashi shekhar has not served as an officer, director or employee of the subject company.
       We have not received any compensation/benefits from the subject company or third party in connection 
       with the Research Report
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<hr/>

<button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Rating Definition</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-2')">Disclosure</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-3')">disclaimer</button>

</div>



</body>
</html>

