<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>Portfolio</title>
  
  

</head>
 
<body>

  
<h1>Portfolio</h1>

<p>The section recommends …… stocks for long term investment. </p>
<p>The List is recommended on 6th January 2020.Principle Behind selecting stock are simple and fundamental to stock Picking.
  For retail investors being closer to fundamentals of investing is KEY to success.</p>
<ol>
  <li> <strong>Strong Governance :</strong> TRUST is an important and non-negotiable commodity which is in demand and is a MUST HAVE fundamental to consider & recommend any stock.</li>
  <li><strong>MarketShare :</strong> Any company who holds considerable marketshare on the produce and/or services it offers , is another consideration while selecting the stock.</li>
  <li><strong>Growth momentum:</strong> All stocks who have consistent growth YoY</li>
  <li><strong>Annual Financial result and company commentry :</strong> Companies who fullfill commitments made .</li>
</ol>

<button type="button" class="btn btn-primary"(click)="open()">
  Add New Stock
</button>
<div class="alert alert-success" role="alert" *ngIf='message'>
  {{message}}
</div>

    <table class="table table-hover">
      <!-- <caption>List of users</caption> -->
      <thead class="thead-dark">
    <tr>
      <th>Stock Name </th>
      <th>Stock Code </th>
      <th> CMP </th>
      <th> Reco date </th>
      <th> Reco price </th>
      <th>Target Price</th>
      <th>Expected Returns(%) </th>
      <th>Duration</th>
      <th> Disclosure ?</th>
      <th>Status</th>
      <th>Sector</th>
      <th>M Cap</th>
      <th>Action</th>

    </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let stockData of stockDataList | paginate: { itemsPerPage: 10, currentPage: p }"  >

        <td>{{stockData.stockname}} </td>
        <td>{{stockData.stockcode}} </td>
        <td class="has-text-align-center" data-align="center">{{stockData.cmp}}</td>
        <td class="has-text-align-center" data-align="center">{{stockData.recodate}}</td>
        <td class="has-text-align-center" data-align="center">{{stockData.recoprice}}</td>
        <td class="has-text-align-center" data-align="center">{{stockData.targetPrice}} </td>
        <td class="has-text-align-center" data-align="center" >{{Cal_prcnt(stockData.cmp, stockData.targetPrice)}} % </td>
        <td class="has-text-align-center" data-align="center">{{stockData.duration}}</td>
        <td class="has-text-align-center" data-align="center">{{stockData.disclaimer}}</td>
        <td class="has-text-align-center" data-align="center" [ngClass]= "{Row_TargetAchieved : stockData.cmp >= stockData.targetPrice}" >ACTIVE </td>
        <td class="has-text-align-center" data-align="center">{{stockData.sector}}</td>
        <td class="has-text-align-center" data-align="center">{{stockData.marketcap}}</td>
        <!-- <td><span class="table-remove"><button type="button"

          class="btn btn-secondary btn-rounded btn-sm my-0">Edit</button></span></td> -->
          <td class="overflow-hidden" >
            <div ngbDropdown container="body">
              <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem>Edit</button>
                <button ngbDropdownItem>Duplicate</button>
                <div class="dropdown-divider"></div>
                <!-- <button ngbDropdownItem (click)='deleteStock(stockData)'>Delete</button> -->
                <button  ngbDropdownItem   (click)='deleteStock(stockData)'>Delete</button>
              </div>
            </div>
            </td>

        <!-- <td><span class="table-remove" (click)='deleteStock(stockData)'><button type="button"
          class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span></td>
           -->
           
      </tr>
      
  </table>


  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
  <!-- <ng-pagination [position]="'center'" [pageSize]="1" [itemsCount]="stockDataList.length" [data]="5" ></ng-pagination>   -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 


</body>

  

</html>

  