.body{
background-color: lightsteelblue;

}

.nav-link{
    cursor: pointer;
    }

.rgb{
background-color: #60f7a7;

}

#clmnstyle1{
    width: 80px;
    padding-left: 5px;
    border-left-style: solid;
    border-left-width: .5px;
    border-left-color: darkgrey;

}
