<div class="container">
  
<mat-toolbar id="toolBarFlexDisplay">
    <div id="toolBarFlexDisplay">
      <button mat-flat-button color="primary" (click)="social()"> About US</button>
      <button mat-flat-button color="primary" (click)="team()" >Team</button>
      <button mat-flat-button color="primary" (click)="socialmedia()">Social Media </button>
      <!-- <button mat-flat-button color="primary" (click)="ad()">Advertisments </button> -->
      <button mat-flat-button color="primary" (click)="csr()" >CSR </button>
      <!-- <button mat-flat-button color="primary" (click)="ad()" >Ad </button> -->
    </div>

  </mat-toolbar>
</div>