
   <div style="background-color: lightgray;">
    <mat-toolbar-row>
      <button mat-flat-button color="primary" (click)="social()"> About US</button>
      <button mat-flat-button color="primary" (click)="team()" >Team</button>
      <button mat-flat-button color="primary" (click)="socialmedia()">Social Media </button>
      <!-- <button mat-flat-button color="primary" (click)="csr()" >CSR </button> -->
       
    </mat-toolbar-row>
  </div>
    
<!-- <mat-toolbar fxLayout="row" fxFlex="1 0 0">
    <div>
      <button mat-flat-button color="primary" (click)="social()"> About US</button>
      <button mat-flat-button color="primary" (click)="team()" >Team</button>
      <button mat-flat-button color="primary" (click)="socialmedia()">Social Media </button>
      <button mat-flat-button color="primary" (click)="ad()">Advertisments </button>
      <button mat-flat-button color="primary" (click)="csr()" >CSR </button>
      <button mat-flat-button color="primary" (click)="ad()" >Ad </button> 
    </div>

  </mat-toolbar> -->
