.mat-card.scrollable-content{
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .mat-card.scrollable-content mat-card-content {
      overflow-y: auto;
  }
  .mat-card.scrollable-content mat-card-title {
      display: block;
  }
  
  .mat-tab-group {
    height: 400px;
    border: 2px solid #00F;
  }
  
  .mat-card-content {
    border: 1px 
  }
  .mat-card-title {
    font-weight: bold;
    font-size: 1.25em !important;
  }
  .mat-card {
    border: 2px;
    height: 350px;
  }
  
  .mat-tab-label{
    font-weight: bold;
    font-size: 1.25em;
  }