<app-header2></app-header2>

    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <mat-card class="scrollable-content">
            <mat-card-content>
                <ngx-twitter-timeline
                [data]="{sourceType: 'url', url: 'https://twitter.com/profitstockmark'}"
                [opts]="{tweetLimit: 3}"
            ></ngx-twitter-timeline>
            </mat-card-content>
        </mat-card>

        </div>
        

    </div>

        

    



<mat-card-title style="text-align: center; ">
    <h2 class="mat-display-2"> Whatsapp/Telegram  </h2>
</mat-card-title>
<mat-card-title style="text-align: center; ">
    <h2 class="mat-display-2"> FaceBook Page  </h2>
</mat-card-title>
