<app-header2></app-header2>
<mat-card-title style="text-align: center; ">
    <h2 class="mat-display-2"> Meet the Founder </h2>
</mat-card-title>

<mat-card-content>
    <p id="para2" class="text-justify"> Shashi R shekhar, founder of profitstockmarket.com in an IT professional for
        last 16 years. He graduated from Birla Institute of Technology, Mesra in Computer science and is working top it
        firm and serving fortune 500 customers in BFSI sector.

        He started his journey in stock market investing as retail investor in 2008 and founded profitstockmarket.com in
        2019, to share his experiences with stock market with others.

        Shashi lives in Hong Kong and works for Tata Consultancy Services as consultant.

        He created profitstockmarket.com in 2019 which was running on WordPress platform for 1 year. In 2020, website IT
        infrastructure shifted to more advanced AWS platform.
    </p>

</mat-card-content>


<mat-card-title style="text-align: center; ">
    <h2 class="mat-display-2"> From Founder's Desk </h2>
</mat-card-title>
a

<p id="para2" class="text-justify">
    Greetings,

    My association with stock market started incredibly early.
    I was in primary school and growing up in Patna, Bihar in late 1990’s
    without any access to stock information, other than newspapers. I used to
    read business section of newspapers which had pages filled with daily stock prices.
    Even though I had no clue of stock market, I could notice differences in individual stock prices
    every day and understood that stocks prices going up is good and there are categories of stocks and other
    business news mostly mentions A category stocks.

</p>

<p id="para2" class="text-justify">Later in college, my interest in understanding market, economy and new developments
    gained momentum.
    I remember my doing detailed study on CAS system which was touted to revolutionize television industry. </p>
<p>After completing college, my attraction towards stock market as primary investing means started. I remember
    suggesting SAIL (Steel Authority)
    to one of my friends in 2005 @35. It was my first recommendation to anyone. </p>
<p id="para2" class="text-justify">
    While most of my friends were shifting to real estate or Mutual funds, I was
    fascinated by daily raw energy of nifty at 9:00 am. However, it was not until
    2008, when I started investing and experimenting substantially and faced the full
    and brutal impact of subprime crisis in 2008 and tased sweet profits after a year when
    markets started rewarding. Reliance was my first stock I bought @2400 and sold at 1200.
</p>
<p id="para2" class="text-justify"> ICICI Bank, Ultratech cement, amber enterprises and IDFC first
    Bank are my longest holding and most profitable stocks. ICICI banks remains my most successful
    investment since 2008. I still hold it. </p>
<p id="para2" class="text-justify">In the journey, I have had my share of failures too.
    India Bulls housing finance, JP Associates, yes bank and PC jeweler are bad picks which made me
    understand a lot about fundamentals of a company.
</p>
<p id="para2" class="text-justify">After 11+ years in investing, I founded profitstockmarket.com and
    work as chief analysts for the website.</p>
<p id="para2" class="text-justify">As founder, I felt my responsibility to share my research with
    individuals who want their hard-earned money to be invested safely and away from speculative risks,
    with decent inflation beating returns.</p>
<p id="para2" class="text-justify">I promise to be truthful, trustworthy, and reliable research analysts,
    should you choose profitstockmarket.com as your source of information for stock market investing.</p>
<P id="para2" class="text-justify">Thank you all…and happy investing. </P>