<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <app-header2></app-header2> 
        <img id="headpic" src="/assets/pages/artwork_team_1.jpg" alt="team">
    </div>
      

      <div class="container">
        
        
          <div>
          <img class="img" src="/assets/pages/img_team_founder_1.jpg" alt="team">
        </div>
        <mat-card>
          <p>Shashi Raghuvansh Shekhar, founder of profitstockmarket.com in an IT professional for
          last 16 years. He graduated from Birla Institute of Technology, Mesra in Computer science and is working top it
          firm and serving fortune 500 customers in BFSI sector.</p>
  
          He started his journey in stock market investing as retail investor in 2008 and founded profitstockmarket.com in
          2019, to share his experiences with stock market with others.
  
          <p>Shashi lives in Hong Kong and works for Top IT company as consultant.</p>
  
          <p>He created profitstockmarket.com in 2019 which was running on WordPress platform for 1 year. In 2020, website IT
          infrastructure shifted to more advanced AWS platform.</p>
        </mat-card>
        </div>

      

</body>
</html>

                     