
<div class="container">
  <div class="card text-center">
    <div class="card-header" >
      <h5 class="card-title">TOP BUY Recommendation by ProfitStockMarket.com </h5>
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <div class="card-body">
      
      <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header"> <span id ='a1'class="badge bg-danger">New</span>ICICI BANK </div>
            
            <div class="card-body">
              <h5 class="card-title">The explosion has just begun</h5>
              <p class="card-text">With improving fundamentals and very strong earnings, ICICI BANK is one of the most 
                suitable stock from large cap. expect bank to provide north of 20% returns as retail loans situation has 
                improved due to Interest rates , Stamp duty reduction and stable prices .</p>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">Ultratech Cement</div>
            <div class="card-body">
              <h5 class="card-title">Sector Leader benefits the most</h5>
              <p class="card-text">what a Company !!! Largest Cement Manufacturing company, posting stellar numbers for Q2-2020. 
                With pole position, strong balance sheets, stable governance and better demand outlook , market leader is set to gain 
                handsomly. wait of a small dip to enter </p>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">IndusInd Bank</div>
            <div class="card-body">
              <h5 class="card-title">Comeaback Kid has lot of juice still left </h5>
              <p class="card-text">I love comeback stories and what a comeback story it has been for indusind .
                very soon stock will cross 4 digit number wand should see 1400 levels in next 4 quarters. 
                this is a screaming BUY.  
                 </p>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">HDFC Life</div>
            <div class="card-body">
              <h5 class="card-title">Insurance growth story has just begun</h5>
              <p class="card-text">Insurance business growth has just begun and is a 10 year growth story. 
                India is set to grow at 25% annual on low penetration, post covid technology advanced society.
                 HDFC Life, SBI life and ICICI PRU will be market leaders . HDFC life is  just first amongst equals.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">Amber Industries</div>
            <div class="card-body">
              <h5 class="card-title"> Local Manufacturing is key for growth and earnings </h5>
              <p class="card-text">Amber has been recommended by PSM in january 2020 at 1200. we still believe it tobe a 
                longterm story altough its bit overpriced now vis-a-vis FY 22 earnings. Company is adding new capacity and 
                demand for AC and washing machines are increasing in india .</p>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">Divi's Laboratories Ltd              
             </div>
            <div class="card-body">
              <h5 class="card-title">Multibagger Pharma is in multiyear upcycle </h5>
              <p class="card-text">DIVIs lab is in bullmarket of its own . Stock has gained 100% this year however it looks 
                like its just getting started . After multiyear non performance , pharma sector is ready for new growth post covid . 
                DIVI based on its niche area will keep growing .</p>
            </div>
          </div>

        </div>


      </div>
      <a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" >Click for More </a>
    </div>

  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Monthly Market outlook</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Market pulse</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">On Demand </h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

